<!DOCTYPE html>
<html>
<head>
<title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/css/stylelogin.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f793282f43.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
        <div class='header-move'>
             <div class='iconos'><i class="fas fa-arrow-left"></i></div>
             <h2>Relax Games</h2>
             <div class='iconos'><i class="fas fa-bars"></i></div>
        </div>
        
</header>
<main>
    <form action='' method=''>
        <div class='form-in'>
            <label>Correo electrónico:</label>
            <input type='email' name='email' placeholder="login@relaxgames.com">
        </div>
        <div class='form-in'>
            <label>Contraseña:</label>
            <input type='password' name='password' placeholder="Contraseña">
        </div>
        <div class='bottons'><button type="reset" >Borrar</button>
        <button type="submit" >Ingresar</button>
        </div>
        <div class= record-olvidado><div>
            <label>Recordarme</label>
            <input type='checkbox' name='Recordar'>
        </div>
        <div>
            <a href='#'>¿Has olvidado tu contraseña? </a>
        </div></div>
        <div id= 'initionsession'>Iniciar sesión con</div>
        <div class='links'>
            <a href='www.google.com'><img class='img-inition' src='/images/google.png'></a> 
            <a href='www.facebook.com'><img class='img-inition' src='/images/facebook.png'></a> 
            <a href='www.steam.com'><img class='img-inition' src='/images/steam.png'></a> 
            <a href='www.store.steampowered.com'><img class='img-inition' src='/images/xbox.png'></a> 
        </div>

    </form>
</main>
<footer>
    <a href='#'>Política de privacidad</a>
   <div>¿No tienes cuentas?<a href='#'>Regístrate</a></div>



</footer>
</body>

</html>