*{
    box-sizing:border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
body::-webkit-scrollbar{
    width: 0.50rem;
}
body::-webkit-scrollbar-track{
    background: blueviolet;
}
body::-webkit-scrollbar-thumb{
    background: rgb(187, 30, 226);
}
.fondo{
    background-image: url(/images/Vaporwave-4K-Wallpapers.jpg);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-size: cover;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:blueviolet;
    opacity: .7;
    font-size: 10px;
    width: 100%;
}
.nav-links{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 10px;
}
.nav-links a{
    margin-right: 2em;
    text-decoration: none;
    color: rgb(54, 0, 54);
    font-weight: 700;
    font-size: 1.7em;
}
.nav-links a:hover{
    color: rgb(98, 0, 98);
}
.nav-links a i{
    font-size: 1em;
}
.buscador{
    margin-top: 2em;
    font-size: 1em;
    background-color: white;
    border-radius: 5px;
}
.buscador input{
    width: 30vw;
    height: 2.5em;
    margin-right: 1em;
    border-radius: 5px;
    border: 0px;
}
.buscador button{
    transform: scale(1.5);
    border: 0px;
    margin-right: 5px ;
    background-color: white;
}
.banner{
    background-image: url(/images/banner.PNG);
    height: 20em;
    width: 80vw;
    margin-top: 6em;
    border-radius: .5em;
    box-shadow: 0 0 1em black;
}
.banner-padre{
    display: flex;
    justify-content: center;
    font-size: 10px;
}
.titulo-padre{
    font-size: 10px;
}
.titulo{
    text-align: left;
    background-color: blueviolet;
    display: inline-block;
    margin-top: 6em;
    margin-left: 2em;
    padding: 1em;
    border-radius: .5em;
    font-weight: 400;
    transition-duration: .5s;
    font-size: 2em;
}

.titulo:hover{
    transform: scale(1.1);
}
.juegos-padre{
    font-size: 10px;
}
.juegos{
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    margin-top: 6em;
    align-items: center;

}
.juegos img{
    box-shadow: 0 0 1.5em black;
    transition-duration: .5s;
    width: 100%;
    border-radius: 15px;
}
.juegos img:hover{
    transform: scale(1.1);
}

.icono i{
    font-size: 4em;
    color: rgb(166, 84, 243);
    filter: drop-shadow(0 0 1.5em black);
    transition-duration: .3s;
}

.icono i:hover{
    transform: scale(1.1);
}



@media (max-width:390px){
    *{
        font-size: 20px;
    }
    body{
        background-image: url(/images/Vaporwave-4K-Wallpapers.jpg);
        background-size: cover;
        background-position: center;
    }

    .fondo{
        display: none;
    }
}