*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
p{
    text-align: center;
}
.parteArriba{
    margin-top: 15px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.52);
}
.parteIzquierda{
    font-size: 20px;
<<<<<<< HEAD
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
.parteDerecha{
    font-size: 20px;
    list-style: none;
    display: inline-block;
=======
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
.parteDerecha{
    font-size: 20px;
    list-style: none;
    display: inline-block;
>>>>>>> 04a901278b53a012f03775ff0a74729c92b023da
    margin-left: 20px;
}
.todo{
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.52);
    justify-content: center;
    padding: 10px;
}
.todo a{
    margin: 0 15px;
    color: white;
}
.todo i{
    color: white;
    font-size: 20px;
}
footer{
    z-index: 4;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.178);
}
<<<<<<< HEAD
=======


>>>>>>> 04a901278b53a012f03775ff0a74729c92b023da
@media (min-width:768px) {
    *{
        font-size: 13px;
    }
}