body{
    background-image: url(/images/profileBG.jpg);
    background-size: 200%;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    font-family: roboto;
}

.perfil{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.493);
}

#profilePic{
    width: 50%;
    border-radius: 100%;
}


@media (min-width: 730px) {
