/* #2924a896
*/

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
input[type=checkbox]{
    transform: scale(2)
}
body{
    background-image: url("/images/1150d80e019d4563bda37eb4e48ee9bb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;

}
.logo{
    position: absolute;
    top: -3vh;
    left: 1vw;
    text-align: center;
}


.leftside{
    position: absolute;
    width: 150px;
    height: auto;
    left: 6vw;
    top: 23.5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    transition: 350ms;
}

.leftside:hover{
    transition: 350ms;
    background-color: #8b8b8b;
}

.rightside{
    position: absolute;
    width: 168px;
    left: 51vw;
    top: 23.5vh;    
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    box-shadow: 150px #2824a8d0;
    transition: 450ms;
}

.rightside:hover{
    transition: 450ms;
    background-color: #8b8b8b;

}

.botoncontinuar{
    width: 150px;
    height: 70px;
    font-size: 30px;
    position: absolute;
    bottom: 20vh;
    left: 25vw;
    background-color: #ffffffd0;
    transition: 450ms;
}

.botoncontinuar:hover{
    transition: 450ms;
    background-color: cyan ;
}

#checkbox2{
    width: 268px;
    position: relative;
    left: 15vw;
    top: 50vh;
    background-color: rgb(255, 255, 255);
    opacity: 80%;
    transition: 450ms;
}

#checbox2:enabled{
    transition: 450ms;
    background-color: green;
}

#checkbox1{
    width: 261px;
    position:absolute;
    left: 15vw;
    top: 60vh;
    background-color: rgb(255, 255, 255);
    opacity: 80%;
}

footer{
    position: absolute;
    width: 350px;
    height: 107px;
    left: 10vw;
    top: 145vw;
    display: flex;
    flex-direction: column;
}

.footerbuttons div{
    width: 40px;
    height: 40px;
    background-color:transparent;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap-reverse;
    justify-content: space-between;
}
.footerbuttons img{
    width: 100%;
    height: auto;
    margin: auto;
}

.footerbuttons{
    position: absolute;
    top: 6vh;
    left: -3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#titulofooter{
    width: 330px;
    background-color: whitesmoke;
    opacity: 80%;
    padding: auto;
}



@media (min-width:768px){
    body{
        background-size: 100%;
    }
    .logo{
        width: 200px;
        height: 200px;
        top: -5vh;
        left: 35vw;
        text-align: center;
    }
    .logo img{
        position: absolute;
        top: 8vh;
        left: 6vw;

    }
    .leftside{
        left: 38vw;
        top: 35vh;
    }
    .rightside{
        left: 55vw;
        top: 35vh;
    }
    .botoncontinuar{
        bottom: 25vh;
        left: 46vw;
    }

    #checkbox2{
        left: 52.5vw;
        top: 58.4vh;
    }
    
    #checkbox1{
        left: 35vw;
        top: 60vh;
    }
    footer{
        left: 40vw;
        top: 42vw;
        text-align: justify;

    }
    .footerbuttons{
        width: 500px;
        display: flex;
        justify-content: space-between;

    }
    
}