*{
    box-sizing:border-box;
    font-weight: 400;
}
body{
    font-family: "Roboto", sans-serif; 
    background-color: #616161;
    background-image: url(/images/16013.jpg);
}
main{
    display: flex;
}
.navbar{
    background-color: #f55c5c34;
    border-radius: 30px;
    height: 79px;
    margin: 40px 20px;
    margin-bottom: 0;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0); 
}
.main-navbar{   
    width: 1126px;
    height: 28px;
    display: flex; 
    margin-left: 230px; 
}
.main-navbar button{
    background-color: #f55c5c49;
}
.opcion button{
    width: 133px;
    height: 27px;
    border-radius: 29px;
    margin-top: 25px;
    margin-left: 50px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0); 
    font-size: 15px;
    border-color: rgb(0, 4, 255);
}
.titulo1{
    background-color: #f55c5c7a;
    border-radius: 30px;
    width: 249px;
    height: 35px;
    text-align: center;
    margin: 0 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0); 
}
.contenedor{
    text-align: center;
    align-self: center;
    display: flex;
    margin: 20px;
    justify-content: space-between;
}
.contenedor2{
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
}
.juego{
    background-image: url(/images/fallout-3-remake.jpg);
    border-radius: 29px;
    width: 100vh;
    height: 70vh;
    margin: 0%;
    box-shadow: 0px 0px 10px rgb(0, 4, 255); 
}
.juego1 img{
    width: 170px;
    height: 120px;
    border-radius: 29px;
    margin: 10px 20px;
    box-shadow: 0px 0px 10px rgb(0, 4, 255); 
}
.juego2{
    background-image: url(/images/header.jpg);
    width: 450px;
    height: 220px;
    border-radius: 29px;
    margin: 10px 20px;
    box-shadow: 0px 0px 10px rgb(0, 4, 255); 
    margin-left: 70px;
}
.informacion{
    background-color: #c4c4c49f;
    border-radius: 29px;
    align-self: center;
    width: 60vh;
    height: 70vh;
    margin: 0%;
    box-shadow: 0px 0px 10px rgb(0, 4, 255);
    font-size: 20px; 
}
.vistaprevia{
    display: flex;
}
.compra{
    display: flex;
    text-align: center;
    align-self: center;
    margin: 20px;
}
.precio{
    width: 180px;
    height: 80px;
    background-color: #f55c5cca;
    border-radius: 29px;
    box-shadow: 0px 0px 10px rgb(0, 4, 255);
    border-color: rgb(0, 4, 255);
}
.boton button{
    width: 180px;
    height: 80px;
    border-radius: 29px;
    background-color: #3b922c7c;
    margin-left: 10px;
    box-shadow: 0px 0px 10px rgb(0, 4, 255);
    margin-right: 90px;
    border-color: rgb(0, 4, 255);
}
.volver{
    width: 90px;
    height: 40px;
    border-radius: 29px;
    background-color: #f55c5c7a;
    margin-left: 10px;
    box-shadow: 0px 0px 10px rgb(0, 4, 255); 
    margin-right: 90px;
    border-color: rgb(0, 4, 255);
}