/* #2924a896
*/
input[type=checkbox]{
    transform: scale(2)
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(https://fondosmil.com/fondo/55755.jpg);
    background-size: 350%;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;

}
.logo{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 100%;
    position: absolute;
    top: 5vh;
    left: 35vw;
    text-align: center;
}

.leftside{
    position: absolute;
    width: 150px;
    height: auto;
    left: 2vw;
    top: 23.5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    transition: 350ms;
}

.leftside:hover{
    transition: 350ms;
    background-color: #efeb65;
}

.rightside{
    position: absolute;
    width: 168px;
    left: 51vw;
    top: 23.5vh;    
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    box-shadow: 150px #2824a8d0;
    transition: 450ms;
}

.rightside:hover{
    transition: 450ms;
    background-color: #efeb65;

}

.botoncontinuar{
    width: 150px;
    height: 70px;
    font-size: 30px;
    position: absolute;
    bottom: 20vh;
    left: 25vw;
    background-color: #2824a8d0;
    transition: 450ms;
}

.botoncontinuar:hover{
    transition: 450ms;
    background-color: cyan ;
}

#checkbox2{
    width: 268px;
    position: relative;
    left: 15vw;
    top: 45vh;
    background-color: rgb(255, 255, 255);
    opacity: 80%;
}

#checkbox1{
    width: 261px;
    position:absolute;
    left: 15vw;
    top: 60vh;
    background-color: rgb(255, 255, 255);
    opacity: 80%;
}

footer{
    position: absolute;
    width: 350px;
    height: 107px;
    left: 10vw;
    top: 145vw;
    display: flex;
    flex-direction: column;
}

.footerbuttons div{
    width: 40px;
    height: 40px;
    background-color:transparent;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footerbuttons img{
    width: 100%;
    height: auto;
    margin: auto;

}

.footerbuttons{
    position: absolute;
    top: 6vh;
    left: -3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#titulofooter{
    width: 330px;
    background-color: whitesmoke;
    opacity: 80%;
    padding: auto;
}



@media (min-width:768px){
    body{
        background-size: 100%;
    }
    .logo{
        width: 200px;
        height: 200px;
        top: 5vh;
        left: 45vw;
    }
    .leftside{
        left: 38vw;
        top: 35vh;
    }
    .rightside{
        left: 55vw;
        top: 35vh;
    }
    .botoncontinuar{
        bottom: 25vh;
        left: 46vw;
    }

    #checkbox2{
        left: 52.5vw;
        top: 54.9vh;
    }
    
    #checkbox1{
        left: 35vw;
        top: 60vh;
    }
    footer{
        left: 40vw;
        top: 42vw;
        text-align: justify;

    }
    .footerbuttons{
        width: 500px;
        display: flex;
        justify-content: space-between;

    }
    
}