<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleCarga.css">
    <title>Relax Games</title>
</head>
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/header.ejs') %>
    <section>
        <div class=" inputs">
            <h2>Bienvenido a la sección de creación de productos</h2>
            <form action="/producto/crearProducto" method="POST">
                <label for="name"></label>
                    <input type="text" placeholder="Nombre del juego" name="name" id="nombreJuego">
                    <div class= 'nombreJuego'></div>

                <label for="price"></label>
                    <input type="number" placeholder="Precio" name="price" id="precio">
                    <div class= 'precio' ></div>

                <label for="genre"></label>
                    <input type="text" placeholder="Género" name="genre" id="genre">
                    <div class = 'genre'></div>

                <label for="Desc"></label>
                    <input type="text" placeholder="Desc. del producto" name="Desc" id="description">
                    <div class='description'></div>
                    
                <label for="img"></label>
                    <input type="file" name="img" id="img">
                    <p>Recuerda que solo puedes vender productos físicos en tu país(o ciudad)</p>
                    <input type="submit" name="submit" id="">
            </form>
        </div>
    </section>
    <script src='/js/create.js'></script>
</body>
</html>