<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include("./partials/head") %>
    <link href="/css/stylehome.css" rel="stylesheet">
    </head>

    <body>
    <div class="fondo"></div>
        <header>
            <nav>
                <div class="buscador"><input type="text"> <button type="submit"><i class="fas fa-search"></i></button></div>
                <div class="nav-links">
                    <a href="/"> <i class="fas fa-home"></i> Inicio</a>
                    <a href="/login"> <i class="fas fa-user"></i> Log in</a>
                    <a href="/registro"> <i class="fas fa-sign-in-alt"></i> Sign up</a>
                    <a href="/carrito"> <i class="fas fa-shopping-cart"></i> Carrito</a>
                    <a href="#"> <i class="fas fa-wrench"></i> Soporte</a>
                </div>
            </nav>     
        </header>      
        <main> 
            <div class="banner-padre"><a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><div class="banner"></div></a></div> 
            <div class="titulo-padre"><h1 class="titulo">Juegos destacados</h1></div>
            <section class="juegos-padre">
                <div class="juegos">
                    <div class="icono"><a href=""><i class="fas fa-arrow-circle-left"></i></a></div>
                    <a href="/producto"><img src="/images/Captura1.PNG" alt=""></a>
                    <a href="/producto"><img src="/images/Captura2.PNG" alt=""></a>
                    <a href="/producto"><img src="/images/Captura3.PNG" alt=""></a>
                    <a href="/producto"><img src="/images/Captura1.PNG" alt=""></a>
                    <a href="/producto"><img src="/images/Captura2.PNG" alt=""></a>
                    <a href="/producto"> <img src="/images/Captura3.PNG" alt=""></a>
                    <div class="icono"><a href=""><i class="fas fa-arrow-circle-right"></i></a></div>
                </div>      
            </section>           
            
            <div class="titulo-padre"><h1 class="titulo">Ofertas</h1></div>
            <section class="juegos-padre">
                <div class="juegos">
                    <div class="icono"><a href=""><i class="fas fa-arrow-circle-left"></i></a></div>
                    <a href="/producto"><img src="/images/Captura1.PNG" alt=""></a>
                    <a href="/producto"><img src="/images/Captura2.PNG" alt=""></a>
                    <a href="/producto"><img src="/images/Captura3.PNG" alt=""></a>
                    <a href="/producto"><img src="/images/Captura1.PNG" alt=""></a>
                    <a href="/producto"><img src="/images/Captura2.PNG" alt=""></a>
                    <a href="/producto"> <img src="/images/Captura3.PNG" alt=""></a>
                    <div class="icono"><a href=""><i class="fas fa-arrow-circle-right"></i></a></div>
                </div>      
            </section>                   
        </main>

    </div>
    <%- include("./partials/footer") %>
    </body>
</html>