<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <%- include("./partials/head") %>
    <%- include("./partials/header") %>
    <link href="/css/stylePerfil.css" rel="stylesheet">

</head>
<body>

 <article class="perfil"> 
    <div>
        <div class="row">
                <h2> ¡Bienvenido de nuevo! </h2>
                <img id='profilePic' src="/images/avatar.png">
                <div class="alert alert-success"> </div>
        </div>
    </div>
 </article>

 <article>
     <div class="GameList">
        <div class="lista">
            <p>Tienes estos juegos disponibles:</p>
            <ul>
                <li>Juego 1</li>
                <li>Juego 2</li>
                <li>Juego 3</li>
            </ul>
        </div>
     </div>
 </article>

</body>
</html>