<link href="/css/stylefooter.css" rel="stylesheet">
<footer>
    <div class="max">
    <div class='linea'></div>
    <section>
        <div>RelaxGames</div>
        <div>RelaxGames</div>
    </section>
    <div>
        <ul>
            <li>© 2021 RelaxGames Corporation. Todos los derechos reservados. </li>
            <li><a href='#'>Política de Privacidad</a></li>
            <li><a href='#'>Información legal</a></li>
            <li><a href='#'>Acuerdo de Suscriptor a Steam</a></li>
            <li><a href='#'>Reembolsos</a></li>
            <li><a href='#'>Cookies</a></li>
        </ul>
    </div>
    <div class='linea'></div>
    <div>
        <ul>
            <li><a href='#'>Acerca de RelaxGames</a></li>
            <li><a href='#'>Empleos</a></li>
            <li><a href='#'>RelaxWork</a></li>
            <li><a href='#'>Distribucion de RelaxGames</a></li>
            <li><a href='#'>Soporte</a></li>
            <li><a href='#'>Tarjeta de Regalo</a></li>
        </ul>
    </div>
</div>

</footer>