<!DOCTYPE html>
<html lang="en">
 <head>
        <title>Relax Games</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="/css/styledetalle.css" rel="stylesheet">
    </head>
        <body>
            <button class="volver"><i class="fas fa-arrow-alt-circle-left"></i></button>
            <header>
                <div class="navbar">
                   <div class="main-navbar">
                        <div class="opcion">
                            <button>Inicio <i class="fas fa-home"></i></button>
                        </div>
                        <div class="opcion">
                            <button>Tienda <i class="fas fa-tags"></i></button>
                        </div>
                        <div class="opcion">
                            <button>Destacados</button>
                        </div>
                        <div class="opcion">
                            <button>Cuenta <i class="fas fa-user"></i></button>
                        </div>
                        <div class="opcion">
                            <button>Registrate <i class="fas fa-sign-in-alt"></i></button>
                        </div>
                        <div class="opcion">
                            <button>Carrito <i class="fas fa-shopping-cart"></i></button>
                        </div>
                        <div class="opcion">
                            <button>Cartera <i class="fas fa-wallet"></i></button>
                        </div>
                   </div>
                </div>
                <div class="titulo1">
                    <h2>Nombre del juego</h2>
                </div>
            <main>
            </header> 
            <div class="contenedor">
                <div class="juego">
                </div>
                <div class="informacion">
                    <div class="juego2">
                    </div>
                    <h2>informacion</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, dolorum corporis, exercitationem voluptas fugit, totam facilis dicta blanditiis laboriosam fugiat possimus ab animi culpa perspiciatis optio. Dolore atque magnam est?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, dolorum corporis, exercitationem voluptas fugit, totam facilis dicta blanditiis laboriosam fugiat possimus ab animi culpa perspiciatis optio. Dolore atque magnam est?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, dolorum corporis, exercitationem voluptas fugit, totam facilis dicta blanditiis laboriosam fugiat possimus ab animi culpa perspiciatis optio. Dolore atque magnam est?</p>
                </div>
            </div>
            <div class="contenedor2">
                <div class="vistaprevia">
                    <div class="juego1">
                        <img src="/images/ss_910437ac708aed7c028f6e43a6224c633d086b0a.116x65.jpg" alt="stylesheet">
                    </div>
                    <div class="juego1">
                        <img src="/images/ss_c310f858e6a7b02ffa21db984afb0dd1b24c1423.116x65.jpg" alt="stylesheet">
                    </div>
                    <div class="juego1">
                        <img src="/images/ss_f649b8e57749f380cca225db5074edbb1e06d7f5.116x65.jpg" alt="stylesheet">
                    </div>
                    <div class="juego1">
                        <img src="/images/ss_f7861bd71e6c0c218d8ff69fb1c626aec0d187cf.116x65.jpg" alt="stylesheet">
                    </div>
                    <div class="juego1">
                        <img src="/images/ss_c310f858e6a7b02ffa21db984afb0dd1b24c1423.116x65.jpg" alt="stylesheet">
                    </div>
                </div>
                <div>
                    <div class="compra">
                        <div class="precio">
                            <h2>$$$$$</h2>
                        </div>
                        <div class="boton">
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>        
            </div>
            </main>
        </body>
</html>
